
# Przekierowanie wszystkich żądań na index.html

RewriteEngine On
RewriteBase /public_html/

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
